acme==1.1.0.dev0
asn1crypto==0.22.0
attrs==19.1.0
bsddb3==6.2.4
certbot==1.1.0.dev0
certbot-apache==1.1.0.dev0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
ConfigArgParse==0.11.0
configobj==5.0.6
cracklib==2.9.7
cryptography==2.8
Cython==0.29.4
distro==1.0.4
docutils==0.14
extras==1.0.0
feedparser==5.2.1
file-magic==0.4.0
fixtures==3.0.0
funcsigs==1.0.2
future==0.17.0
gateway-addon==0.10.1
gdbus-codegen==2.60.7
gemato==14.3
gentoolkit==0.4.6
gpg==1.13.0
html5lib==1.0.1
idna==2.5
importlib-metadata==0.23
ipaddress==1.0.22
isc==2.0
isodate==0.5.4
java-config==2.2.0
josepy==1.1.0
jsonschema==3.2.0
layman==2.4.2
linecache2==1.0.0
lxml==4.3.3
Mako==1.0.7
Markdown==2.6.8
MarkupSafe==1.1.1
meson==0.51.2
mimeparse==1.6.0
mirrorselect==2.2.4.post1
mock==2.0.0
more-itertools==7.2.0
ndg-httpsclient==0.4.0
nnpy==1.4.2
numpy==1.22.0
parsedatetime==2.4
pbr==4.2.0
pika==1.0.1
ply==3.11
portage==2.3.79
psutil==5.6.7
pyasn1==0.4.2
pyblake2==1.1.2
pycairo==1.18.2
pycparser==2.19
pycurl==7.43.0
pyelftools==0.24
Pygments==2.3.1
PyGObject==3.32.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyRFC3339==1.1
pyrsistent==0.15.3
PySocks==1.6.7
python-augeas==0.5.0
python-mimeparse==1.6.0
python-subunit==1.2.0
python-telegram-bot==11.1.0
pytz==2018.9
pyxattr==0.6.0
PyYAML==5.1
rdflib==4.2.2
repoman==2.3.16
requests==2.21.0
requests-cache==0.4.12
requests-toolbelt==0.9.1
scons==3.0.5
simplejson==3.16.0
singleton-decorator==1.0.0
six==1.12.0
ssl-fetch==0.4
telegram==0.0.1
testtools==2.3.0
traceback2==1.4.0
unittest2==1.1.0
urllib3==1.24.2
virtualenv==16.0.0
webapp-config==1.55
webencodings==0.5.1
zipp==0.6.0
zope.component==4.4.1
zope.event==4.2.0
zope.interface==4.7.1
